@import '~antd/es/style/themes/default.less';
/*div-css*/
.div-class {
  float: left;
  width: fit-content;
  margin: auto;
}

/*div-right-css*/
.div-right-class {
  float: right;
  width: 100%;
  margin: auto;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}
[data-theme="dark"] .gutter-box {
  background: #028ac8;
}

.budget-span {
  display: inline-block;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  //position: absolute;
  //right: 52%;
  width: 100%;
  //bottom: 85%;
  color: #003D82;
  text-align: right;
}

.switch-span {
 // position: absolute;
  //left: 50%;
  width: 50px;
  bottom: 16%;
  margin: 0px 10px 0px 10px;
}

.historical-span {
  display: inline-block;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  //position: absolute;
 // left: 59%;
  width: 100%;
  //bottom: 85%;
  color: #003D82;
  text-align:left;
}

.rankingTitle{
  font-size: 16px;
}

.customer-span{
  display: inline-block;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
//  position: absolute;
 // left: 30%;
  width: 100%;
 // bottom: 87%;
  color: #003D82;
}

.switch-span-right {
 // position: absolute;
 // left:40%;
  width: 50px;
  bottom: 15%;
  margin: 0px 10px 0px 10px;
}

.endUser-span {
  display: inline-block;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
 // position: absolute;
  //left: 49%;
  width: 100%;
 // bottom: 87%;
  color: #003D82;
}
.text-top{
  margin-left: 45%;
  position: absolute;
  bottom: 85%;
}

.text-top-cusOrEnd{
  margin-left: 40%;
  position: absolute;
  bottom: 87%;
}
